/libfxcg/misc/*.o
/libc/*.o
/libfxcg/syscalls/*.o
/utils/winsim/proj/.vs
/utils/winsim/proj/WindowsSim
/utils/calctype/DeviceRelease
/utils/winsim/proj/winsim.vcxproj.user
/utils/calctype/Tool/*.user
/utils/calctype/Tool/bin/Release/*.pdb
/utils/calctype/Tool/.vs
/utils/calctype/Tool/obj
/utils/calctype/Tool/bin/Debug
